/* line 3, ../scss/landing.scss */
body {
  position: relative;
  background: #293033;
}

/* line 8, ../scss/landing.scss */
#content-wrap {
  background-image: url("/img/landing/background.jpg");
  background-size: cover;
  position: relative;
  display: none;
}

/* line 14, ../scss/landing.scss */
#content {
  background: rgba(41, 48, 51, 0.97);
  position: relative;
}

/* line 19, ../scss/landing.scss */
#landing-content > * {
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  -o-transition: padding 0.2s;
  transition: padding 0.2s;
}

/* line 23, ../scss/landing.scss */
h1 {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: #8ac2b0;
}

/* line 31, ../scss/landing.scss */
p {
  font-size: 25px;
  line-height: 37px;
  font-weight: 200;
  color: #f1f1f1;
}
/* line 36, ../scss/landing.scss */
p a, p a:visited {
  color: #8ac2b0;
  border: none;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
/* line 40, ../scss/landing.scss */
p a:hover, p a:active, p a:visited:hover, p a:visited:active {
  color: #68b199;
}

/* line 47, ../scss/landing.scss */
div.profile-image img {
  border-radius: 200px;
  border: 10px solid rgba(30, 36, 38, 0.8);
}

/* line 55, ../scss/landing.scss */
div.connect {
  margin-top: 44px;
}
/* line 51, ../scss/config.scss */
div.connect:after {
  content: "";
  display: table;
  clear: both;
}
/* line 58, ../scss/landing.scss */
div.connect > * {
  float: left;
}
/* line 59, ../scss/landing.scss */
div.connect h3 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 16px;
  color: #62737a;
  font-weight: bold;
}
/* line 67, ../scss/landing.scss */
div.connect a.btn {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 17px 20px;
  background: #f95759;
  box-shadow: 0 6px 0 #d93c3e;
  position: relative;
  -webkit-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  -moz-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  -o-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  transition: box-shadow 0.25s, top 0.25s, width 0.25s;
}
/* line 78, ../scss/landing.scss */
div.connect a.btn:hover {
  box-shadow: 0 3px 0 #d93c3e;
  top: 3px;
}
/* line 82, ../scss/landing.scss */
div.connect a.btn:active {
  box-shadow: none;
  top: 6px;
}

/* line 89, ../scss/landing.scss */
div.connect-section:first-child {
  width: 220px;
}
/* line 91, ../scss/landing.scss */
div.connect-section:first-child a.btn span.icon {
  position: relative;
  font-size: 14px;
}

/* line 98, ../scss/landing.scss */
div.connect-section:last-child a.btn {
  padding: 12px 15px 11px;
  margin-right: 10px;
  background: #f1f1f1;
  box-shadow: 0 6px 0 #cbcbcb;
  position: relative;
  min-width: 25px;
  -webkit-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  -moz-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  -o-transition: box-shadow 0.25s, top 0.25s, width 0.25s;
  transition: box-shadow 0.25s, top 0.25s, width 0.25s;
}
/* line 106, ../scss/landing.scss */
div.connect-section:last-child a.btn:hover {
  box-shadow: 0 3px 0 #f1f1f1;
  top: 3px;
}
/* line 110, ../scss/landing.scss */
div.connect-section:last-child a.btn:active {
  box-shadow: none;
  top: 6px;
}
/* line 114, ../scss/landing.scss */
div.connect-section:last-child a.btn span.icon {
  font-size: 26px;
}

/* line 119, ../scss/landing.scss */
div.connect-section.divider {
  width: 55px;
}
/* line 121, ../scss/landing.scss */
div.connect-section.divider h4 {
  color: #62737a;
  font-size: 16px;
  margin: 44px 20px 0;
}

/* line 128, ../scss/landing.scss */
a.btn.dribbble {
  color: #ea4c89;
}

/* line 131, ../scss/landing.scss */
a.btn.github {
  color: #4183c4;
}

/* line 134, ../scss/landing.scss */
a.btn.twitter {
  color: #4099ff;
}

/* line 139, ../scss/landing.scss */
footer {
  display: none;
}

/* line 143, ../scss/landing.scss */
#landing-footer {
  color: #62737a;
  position: absolute;
  bottom: 20px;
  width: 400px;
  margin: 0 auto;
  margin-left: -200px;
  left: 50%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* line 160, ../scss/landing.scss */
  div.profile-image {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  /* line 169, ../scss/landing.scss */
  div.connect-section.divider {
    display: none;
  }

  /* line 172, ../scss/landing.scss */
  div.connect > * {
    float: none;
    margin-bottom: 40px;
  }

  /* line 177, ../scss/landing.scss */
  div.connect-section:first-child {
    width: 100%;
  }
  /* line 179, ../scss/landing.scss */
  div.connect-section:first-child a.btn {
    display: block;
  }

  /* line 51, ../scss/config.scss */
  div.connect-section:last-child div.connect-buttons:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 186, ../scss/landing.scss */
  div.connect-section:last-child a.btn {
    width: 30%;
    margin: 0;
  }
  /* line 189, ../scss/landing.scss */
  div.connect-section:last-child a.btn:first-child {
    margin-right: 4%;
  }
  /* line 192, ../scss/landing.scss */
  div.connect-section:last-child a.btn:last-child {
    margin-left: 4%;
  }
}
