/* line 3, ../scss/landing.scss */
body {
  position: relative;
  background: #293033;
}

/* line 8, ../scss/landing.scss */
#content-wrap {
  background-image: url("/img/landing/background.jpg");
  background-size: cover;
  position: relative;
  display: none;
}

/* line 14, ../scss/landing.scss */
#content {
  background: rgba(41, 48, 51, 0.97);
  position: relative;
}

/* line 19, ../scss/landing.scss */
#landing-content > * {
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  -o-transition: padding 0.2s;
  transition: padding 0.2s;
}

/* line 23, ../scss/landing.scss */
p {
  color: #f1f1f1;
  font-weight: 200;
  font-size: 25px;
  line-height: 37px;
}

/* line 31, ../scss/landing.scss */
div.profile-image img {
  border-radius: 200px;
  border: 10px solid rgba(30, 36, 38, 0.8);
}

/* line 39, ../scss/landing.scss */
div.connect {
  margin-top: 44px;
}
/* line 53, ../scss/config.scss */
div.connect:after {
  content: "";
  display: table;
  clear: both;
}
/* line 42, ../scss/landing.scss */
div.connect > * {
  float: left;
}
/* line 43, ../scss/landing.scss */
div.connect h3 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 16px;
  color: #62737a;
  font-weight: bold;
}
/* line 51, ../scss/landing.scss */
div.connect a.btn {
  background: #f95759;
  border-bottom: 6px solid #d93c3e;
}
/* line 54, ../scss/landing.scss */
div.connect a.btn:hover {
  border-bottom: 4px solid #d93c3e;
}

/* line 60, ../scss/landing.scss */
div.connect-section:first-child div.btn-wrap {
  width: 220px;
}
/* line 62, ../scss/landing.scss */
div.connect-section:first-child div.btn-wrap a.btn span.icon {
  position: relative;
  font-size: 14px;
}

/* line 53, ../scss/config.scss */
div.connect-section:last-child div.connect-buttons:after {
  content: "";
  display: table;
  clear: both;
}
/* line 71, ../scss/landing.scss */
div.connect-section:last-child div.btn-wrap {
  width: 52px;
  float: left;
  margin-right: 12px;
}
/* line 75, ../scss/landing.scss */
div.connect-section:last-child div.btn-wrap:last-child {
  margin-right: 0;
}
/* line 79, ../scss/landing.scss */
div.connect-section:last-child a.btn {
  padding: 12px 10px 11px;
  background: #f1f1f1;
  border-bottom-color: #cbcbcb;
}
/* line 83, ../scss/landing.scss */
div.connect-section:last-child a.btn:hover {
  border-bottom: 4px solid #cbcbcb;
}
/* line 86, ../scss/landing.scss */
div.connect-section:last-child a.btn span.icon {
  font-size: 26px;
}

/* line 91, ../scss/landing.scss */
div.connect-section.divider {
  width: 55px;
}
/* line 93, ../scss/landing.scss */
div.connect-section.divider h4 {
  color: #62737a;
  font-size: 16px;
  margin: 47px 20px 0 22px;
}

/* line 100, ../scss/landing.scss */
a.btn.dribbble {
  color: #ea4c89;
}

/* line 103, ../scss/landing.scss */
a.btn.github {
  color: #4183c4;
}

/* line 106, ../scss/landing.scss */
a.btn.twitter {
  color: #4099ff;
}

/* line 111, ../scss/landing.scss */
footer {
  display: none;
}

/* line 115, ../scss/landing.scss */
#landing-footer {
  color: #62737a;
  position: absolute;
  bottom: 20px;
  width: 400px;
  margin: 0 auto;
  margin-left: -200px;
  left: 50%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* line 132, ../scss/landing.scss */
  div.profile-image {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  /* line 141, ../scss/landing.scss */
  div.connect-section.divider {
    display: none;
  }

  /* line 144, ../scss/landing.scss */
  div.connect > * {
    float: none;
    margin-bottom: 40px;
  }

  /* line 149, ../scss/landing.scss */
  div.connect-section:first-child div.btn-wrap {
    width: 100%;
  }
  /* line 151, ../scss/landing.scss */
  div.connect-section:first-child div.btn-wrap a.btn {
    display: block;
  }

  /* line 53, ../scss/config.scss */
  div.connect-section:last-child div.connect-buttons:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 158, ../scss/landing.scss */
  div.connect-section:last-child div.btn-wrap {
    margin: 0;
    width: 30%;
  }
  /* line 161, ../scss/landing.scss */
  div.connect-section:last-child div.btn-wrap:first-child {
    margin-right: 4%;
  }
  /* line 162, ../scss/landing.scss */
  div.connect-section:last-child div.btn-wrap:last-child {
    margin-left: 4%;
  }
  /* line 164, ../scss/landing.scss */
  div.connect-section:last-child a.btn {
    display: block;
    width: 100%;
    margin: 0;
  }
}
