@import "config";

#content.blog-layout {
  max-width: 600px;
  margin: 60px auto;

  h3 {
    font-size: 22px;
    line-height: 20px;
  }

  p.published {
    color: $gray-lighten;
  }
}

h2.posts {
  margin: 50px 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: $gray-lighten;
}

ul.post-list{
  margin: 0 0 50px;
  li {
    border-top: 1px solid #ececec;
    > a {
      padding: 16px 0;
      @include clearfix;
      display: block;
      position: relative;

      @include transition(color 0.35s);
      &:hover {
        color: $red;
        div.image-wrap {
          box-shadow: 0 0 0 5px $red;
        }
      }

      div.image-wrap {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -15px;
        box-shadow: 0 0 0 3px $light-gray;
        @include transition(box-shadow .35s);
        img {
          height: 30px;
        }
      }

      h3 {
        margin: 0 150px 0 40px;
      }
      p {
        margin: 0;
        position: absolute;
        right: 0;
        top: 11px;
        font-size: .9em;
      }
    }
  }
}


