@import "config";

body {
  position: relative;
  background: $dark-blue-gray;
}

#content-wrap {
  background-image: url("/img/landing/background.jpg");
  background-size: cover;
  position: relative;
}
#content {
  background: rgba($dark-blue-gray, .97);
  position: relative;
}

#landing-content > * {
  @include transition(padding .2s);
}

h1 {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: $teal;
}

p {
  font-size: 25px;
  line-height: 37px;
  font-weight: 200;
  color: $off-white;
  a, a:visited {
    color: $teal;
    border: none;
    @include transition(color .25s);
    &:hover, &:active {
      color: darken($teal, 10%);
    }
  }
}

div.profile-image {
  img {
    border-radius: 200px;
    border: 10px solid rgba(30, 36, 38, .8);
  }
}



div.connect {
  margin-top: 44px;
  @include clearfix;
  > * { float: left; }
  h3 {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 16px;
    color: $med-blue-gray;
    font-weight: bold;
  }
  a.btn {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px 20px;
    background: $red;
    box-shadow: 0 6px 0 $red-dark;
    position: relative;
    @include transition(box-shadow .25s, top .25s, width .25s);
    &:hover {
      box-shadow: 0 3px 0 $red-dark;
      top: 3px;
    }
    &:active {
      box-shadow: none;
      top: 6px;
    }
  }
}

div.connect-section:first-child {
  width: 220px;
  a.btn span.icon {
    position: relative;
    // top: 1px;
    font-size: 14px;
  }
}
div.connect-section:last-child {
  a.btn {
    padding: 12px 15px 11px;
    margin-right: 10px;
    background: $off-white;
    box-shadow: 0 6px 0 darken($off-white, 15%);
    position: relative;
    min-width: 25px;
    @include transition(box-shadow .25s, top .25s, width .25s);
    &:hover {
      box-shadow: 0 3px 0 $off-white;
      top: 3px;
    }
    &:active {
      box-shadow: none;
      top: 6px;
    }
    span.icon {
      font-size: 26px;
    }
  }
}
div.connect-section.divider {
  width: 55px;
  h4{
    color: $med-blue-gray;
    font-size: 16px;
    margin: 44px 20px 0;
  }
}

a.btn.dribbble {
  color: $dribbble;
}
a.btn.github {
  color: $github;
}
a.btn.twitter {
  color: $twitter;
}


footer {
  display: none;
}

#landing-footer {
  color: $med-blue-gray;
  position: absolute;
  bottom: 20px;
  width: 400px;
  margin: 0 auto;
  margin-left: -200px;
  left: 50%;
  text-align: center;
}

// **********************************************************************
// Small screen
// **********************************************************************

@media only screen and (max-width: 768px) {

  div.profile-image {
    display: none;
  }

}


@media only screen and (max-width: 540px) {

  div.connect-section.divider {
    display: none;
  }
  div.connect > * {
    float: none;
    margin-bottom: 40px;
  }

  div.connect-section:first-child {
    width: 100%;
    a.btn { display: block; }
  }

  div.connect-section:last-child {
    div.connect-buttons {
      @include clearfix;
    }
    a.btn {
      width: 30%;
      margin: 0;
      &:first-child {
        margin-right: 4%;
      }
      &:last-child {
        margin-left: 4%;
      }
    }
  }

}


