@import "config";

body {
  position: relative;
  background: $dark-blue-gray;
}

#content-wrap {
  background-image: url("/img/landing/background.jpg");
  background-size: cover;
  position: relative;
  display: none;
}
#content {
  background: rgba($dark-blue-gray, .97);
  position: relative;
}

#landing-content > * {
  @include transition(padding .2s);
}

h1 {
  margin: 0 0 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: $teal;
}

p {
  font-size: 25px;
  line-height: 37px;
  font-weight: 200;
  color: $off-white;
  a, a:visited {
    color: $teal;
    border: none;
    @include transition(color .25s);
    &:hover, &:active {
      color: darken($teal, 10%);
    }
  }
}

div.profile-image {
  img {
    border-radius: 200px;
    border: 10px solid rgba(30, 36, 38, .8);
  }
}



div.connect {
  margin-top: 44px;
  @include clearfix;
  > * { float: left; }
  div.button-wrap {
    position: relative;
    height: 55px;
  }
  h3 {
    text-transform: uppercase;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 16px;
    color: $med-blue-gray;
    font-weight: bold;
  }
  a.btn {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px 20px;
    background: $red;
    border-bottom: 6px solid $red-dark;
    border-top: 0px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include transition(border .15s, width .25s);
    &:hover {
      border-bottom: 4px solid $red-dark;
    }
    &:active {
      border-bottom: none;
    }
  }
}

div.connect-section:first-child div.button-wrap {
  width: 220px;
  a.btn span.icon {
    position: relative;
    font-size: 14px;
  }
}
div.connect-section:last-child {
  div.connect-buttons {
    @include clearfix;
  }
  div.button-wrap {
    width: 52px;
    float: left;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  a.btn {
    padding: 12px 10px 11px;
    background: $off-white;
    border-bottom-color: darken($off-white, 15%);
    &:hover {
      border-bottom: 4px solid darken($off-white, 15%);
    }
    &:active {
      border-bottom: none;
    }
    span.icon {
      font-size: 26px;
    }
  }
}
div.connect-section.divider {
  width: 55px;
  h4{
    color: $med-blue-gray;
    font-size: 16px;
    margin: 47px 20px 0 22px;
  }
}

a.btn.dribbble {
  color: $dribbble;
}
a.btn.github {
  color: $github;
}
a.btn.twitter {
  color: $twitter;
}


footer {
  display: none;
}

#landing-footer {
  color: $med-blue-gray;
  position: absolute;
  bottom: 20px;
  width: 400px;
  margin: 0 auto;
  margin-left: -200px;
  left: 50%;
  text-align: center;
}

// **********************************************************************
// Small screen
// **********************************************************************

@media only screen and (max-width: 768px) {

  div.profile-image {
    display: none;
  }

}


@media only screen and (max-width: 540px) {

  div.connect-section.divider {
    display: none;
  }
  div.connect > * {
    float: none;
    margin-bottom: 40px;
  }

  div.connect-section:first-child div.button-wrap {
    width: 100%;
    a.btn { display: block; }
  }

  div.connect-section:last-child {
    div.connect-buttons {
      @include clearfix;
    }
    div.button-wrap {
      margin: 0;
      width: 30%;
      &:first-child { margin-right: 4%; }
      &:last-child { margin-left: 4%; }
    }
    a.btn {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

}


