@import "config";

#content.blog-post {
  width: auto;
  padding: 0;
  margin: 0;

  div.image-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    // @include single-transition(height .15s ease-in);
    img.main-image {
      position: absolute;
      width: 100%;
    }
  }

  div.article-wrap {
    background: white;
    margin-top: 500px;
    padding-top: 1px;
    position: relative;
    z-index: 100;
  }

  div.post-content {
    margin-bottom: 80px;
  }

  article, footer {
    max-width: 660px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
  }

  article {
    font-size: 16px;
    line-height: 1.75em;

    h2 {
      font-size: 24px;
      margin: 50px 0 14px;
      color: $red;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 14px 0 6px;
    }

    h4 {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      margin: 14px 0 6px;
    }

    h5 {
      font-size: 16px;
      font-weight: normal;
    }

    p code {
      background: $off-white;
      border-radius: 2px;
      padding: 2px 4px;
      color: #666;
      position: relative;
      top: -1px;
      font-size: .8em;
    }

    pre {
      background: $off-white;
      padding: 10px;
      border-radius: 2px;
    }

    .post-content img {
      margin-bottom: 16px;
      border-radius: 2px;
      width: 100%;
    }

    p a {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 32px;
    margin: 40px 0 10px;
    line-height: 32px;
  }

  div.meta {
    margin: 0 0 30px;
    @include clearfix;
    > * { float: left; }

    img {
      border-radius: 30px;
      margin-right: 10px;
    }
    p {
      margin: 0;
      font-size: 14px;
      span.published {
        color: #999;
        margin-left: 18px;
      }
    }
  }

  div.links a {
    display: block;
  }

  div.btn-wrap.all-posts {
    width: 190px;
    a {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  div#about-me {
    margin-top: 50px;
  }
}