<div id="about-me">
  <div class="about-me-wrap">
    <div class="row">
      <div class="large-3 small-4 columns">
        <img src="/img/profiles/will-profile.jpg" alt="" class="profile">
      </div>
      <div class="large-9 small-12 columns">
        <p>
          I am a maker, thinker, and explorer. I get excited when I'm challenged and love the opportunity to learn and collaborate. I am passionate about building things on the web. When the computer is off, I like to rock climb and generally be outside.    
        </p>
        <p>
          Visit me at <a href="http://campfourcreative.com/" target="_blank">Camp Four Creative</a> or tweet <a href="https://twitter.com/willhitchcock" target="_blank">@willhitchcock</a>.
        </p>      
      </div>
    </div>    
  </div>
</div>