---
layout: default
title: Here at Camp.
className: blog-layout
styles: ["blog.css"]
---

<div class="blog-content">
  <div class="title">
    <h1>Here at Camp.</h1>
    <p>A place to share my feelings about frontend development, design, and anything else that I need to stand on a soap box about.</p>
  </div>
   
  <h2 class="posts">All Posts</h2>
  <ul class="post-list entries">
    {% for post in site.posts %}
   
    <li>
      <a href="{{ post.url }}" title="Go to {{post.title}}">
        <div class="image-wrap">
          <img src="{{post.image_thumb}}" height="30" alt="{{post.title}} thumbnail image">
        </div>
        <h3>{{ post.title }}</h3>
        <p class="published">{{post.date | date_to_long_string}}</p>
      </a>
    </li>
   
    {% endfor %}
  </ul>

</div>

{% include about_me.html %}
