---
layout: default
className: blog-post
scripts: ["base.js"]
styles: ["post.css", "syntax.css"]
---

{% if page.image %}
<div class="image-wrap">
  {% if page.image %}
    <span class="main-image" data-src="{{ page.image }}">
  {% endif %}
</div>
{% endif %}
 
<div class="article-wrap">
  <article>
    <h1>{{page.title}}</h1>
    <div class="meta">
      <img src="/img/profiles/profilepic.jpg" width="25" alt="Will Hitchcock profile">
      <p>
        <span class="author">Will Hitchcock</span>
        <span class="published">{{page.date | date_to_long_string}}</span>
      </p>
    </div>
    <div class="post-content">{{ content }}</div>
    <div class="btn-wrap all-posts">
      <a class="btn" href="/blog/">
        <span class="icon icon-arrow-left"></span>
        Back to posts
      </a>      
    </div>
  </article>
  {% include about_me.html %}
</div>

  
